{% extends 'base.html'%}
{% load blog_tags %}

        {% block main %}
            <div class="widget widget-archives">

                    <h2 class="widget-title">归档</h2>

                    {% archives as date_list %}

                    <ul>

                        {% for date in date_list %}

                            <li>

                                <a href="{% url 'blog:archives' date.year date.month %}">{{ date.year }}

                                    年 {{ date.month }} 月</a>

                            </li>

                        {% empty %}

                            暂无归档！

                        {% endfor %}

                    </ul>

                </div>
        {% endblock main %}
            
